# .gitignore

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.bin

# Test binary, build files, etc.
*.test
*.out
*.log

# Go specific
/vendor/
/bin/
/pkg/

# Dependencies
/go/pkg
/go/bin

# IDEs and Editors
.vscode/
.idea/
*.swp

# Environment variables
.env